<app-header />

<!--&lt;!&ndash; app.component.html &ndash;&gt;-->
<!--<mat-sidenav-container class="sidenav-container">-->
<!--  <mat-sidenav #sidenav mode="side" opened="true">-->
<!--    <mat-toolbar>Menu</mat-toolbar>-->
<!--    <nav>-->
<!--      <a mat-list-item href="#">Home</a>-->
<!--      <a mat-list-item href="#">About</a>-->
<!--      <a mat-list-item href="#">Contact</a>-->
<!--    </nav>-->
<!--  </mat-sidenav>-->
<!--  <mat-sidenav-content>-->
<!--    <mat-toolbar>-->
<!--      <button (click)="sidenav.toggle()">Toggle Sidenav</button>-->
<!--      <span>My Application</span>-->
<!--    </mat-toolbar>-->
<!--    <div class="content">-->
<!--      &lt;!&ndash; Main content goes here &ndash;&gt;-->
<!--    </div>-->
<!--  </mat-sidenav-content>-->
<!--</mat-sidenav-container>-->

<app-footer />
